#include "menu.h"

menu MENU
{
    POPUP "&File"
    {
        MENUITEM "&Open...\tAlt+O", IDM_OPEN
        MENUITEM "&Close\tAlt+C", IDM_CLOSE, GRAYED
        MENUITEM "E&xit\tAlt+X", IDM_EXIT
    }
    POPUP "&View", GRAYED
    {
        MENUITEM "&Simple\tAlt+S", IDM_SIMPLE
        MENUITEM "&Layout\tAlt+L", IDM_LAYOUT
    }
}
